<nav class="page__nav main-nav">
    <div class="terminal-header-line">
      <span aria-hidden="true" class="terminal-prompt"><span class="prompt-user">frank@do3eet</span>:<span class="prompt-dir">~</span>$</span>
      <a href="{{ .Site.BaseURL }}" class="page__logo-inner">{{ .Site.Title }}</a>
      
      <div class="terminal-menu-inline">
        <span class="sr-only">{{ T "menu_start" }}</span>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a class="nav-main-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq ($currentPage.Permalink) (.URL | absLangURL)) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}"><span aria-hidden="true">./</span>{{ .Name }}</a>
        {{ end }}
        <span class="sr-only">{{ T "menu_end" }}</span>
      </div>
    </div>
</nav>
