/* Override this file to customise the theme's CSS for your site */
@font-face {
    font-family: 'OpenDyslexicMono';
    src: url('/fonts/OpenDyslexicMono-Regular.otf') format('opentype');
  }

:root {
    --font-monospace: "OpenDyslexicMono", monospace;
}