<div class="iss-position">
    <h1>ISS Position</h1>

    <label for="optInCheckbox">Display ISS Position (Please note that your browser will regularly call up the open-notify.org website and transmit your IP and browser information in the process):</label>
    <input type="checkbox" id="optInCheckbox" onchange="toggleISSPositionDisplay()">
    <br>
    <p id="iss-position"></p>
  
    <script>
        let displayISS = false;
    
        // Function to fetch ISS current position
        async function fetchISSPosition() {
          const response = await fetch('http://api.open-notify.org/iss-now.json');
          const data = await response.json();
          return data;
        }
    
        // Function to display ISS position
        async function displayISSPosition() {
          try {
            const positionData = await fetchISSPosition();
            const { latitude, longitude } = positionData.iss_position;
            const issPositionElement = document.getElementById('iss-position');
            issPositionElement.textContent = `ISS current position - Latitude: ${latitude}, Longitude: ${longitude}`;
          } catch (error) {
            console.error('Error fetching ISS position:', error);
          }
        }
    
        // Function to toggle ISS position display based on checkbox state
        function toggleISSPositionDisplay() {
          displayISS = document.getElementById('optInCheckbox').checked;
          if (displayISS) {
            displayISSPosition();
            // Update ISS position every 5 seconds
            setInterval(displayISSPosition, 5000);
          } else {
            document.getElementById('iss-position').textContent = '';
            clearInterval();
          }
        }
      </script>
    
  </div>